@charset "UTF-8";
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}




/*parallax styles*/

.parallax {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 300px;
}

/*symbols*/
.parallax__layer--arrow--thin {
    background: url(../images/arrow-thin.svg) no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.parallax__layer--arrow--thick {
	 background: url(../images/arrow-thick.svg) no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}


.parallax__layer--plus--thin {
    background: url(../images/plus-thin.svg) no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	z-index: 1;
}

.parallax__layer--plus--thick{
	background: url(../images/plus-thin.svg) no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	z-index: 1;
}

/*layers*/
.parallax__layer--base {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
	position: relative;
	z-index: 10;
}
.parallax__layer--fore {
    -webkit-transform: translateZ(80px) scale(1);
    transform: translateZ(80px) scale(1);
    top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.parallax__layer--deep {
    -webkit-transform: translateZ(60px) scale(1);
    transform: translateZ(60px) scale(1);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

/*positioning*/
.parallax__layer--home--large--middle {
	position: absolute;
	top: -90px;
	right: 0;
	left: 200px;
	bottom: -60px;
}

.parallax__layer--see--medium--right {
	position: absolute;
	top: 900px;
	right: 0;
	left: 540px;
	bottom: -900px;
	
}

.parallax__layer--see--medium--left {
	position: absolute;
	top: 1400px;
	right: 0;
	left: 100px;
	bottom: -1400px;
}

.parallax__layer--see--small--middle {
	position: absolute;
	top: 2100px;
	right: 0;
	left: 700px;
	bottom: -2100px;
}

.parallax__layer--see--large--right {
	position: absolute;
	top: 2500px;
	right: -390px;
	left: 430px;
	bottom: -2900px;
}

.parallax__layer--about--medium--left {
	position: absolute;
	top: 3300px;
	right: 0;
	left: 50px;
	bottom: -3300px;
	
}

.parallax__layer--about--medium--right {
	position: absolute;
	top: 4300px;
	right: 0;
	left: 740px;
	bottom: -4300px;
}

.parallax__layer--about--small--middle {
	position: absolute;
	top: 4600px;
	right: 0;
	left: 40px;
	bottom: -4600px;
}

.parallax__layer--about--medium--middle {
	position: absolute;
	top: 5000px;
	right: 0;
	left: 540px;
	bottom: -5000px;
}

.parallax__layer--contact--medium--right {
	position: absolute;
	top: 6200px;
	right: 0;
	left: 840px;
	bottom: -6200px;
}

.parallax__layer--contact--large--left{
	position: absolute;
	top: 5400px;
	right: 200px;
	left: -200px;
	bottom: -5600px;
}

.parallax__layer--contact--small--left{
	position: absolute;
	top: 6500px;
	right: 0;
	left: 0;
	bottom: -6600px;
	
}

.parallax__layer--contact--medium--middle{
	position: absolute;
	top: 7500px;
	right: 0;
	left: 500px;
	bottom: -7300px;
}

.parallax__layer--contact--large--right{
	position: absolute;
	top: 6600px;
	right: -650px;
	left: 650px;
	bottom: -6900px;
}

/*project pages parallax*/

.parallax__layer--project--medium--left{
	position: absolute;
	top: -50px;
	right: 0;
	left: 0px;
	bottom: 20px;
}

.parallax__layer--project--medium--right {
	position: absolute;
	top: 800px;
	right: -500px;
	left: 500px;
	bottom: -900px;
}

.parallax__layer--project--small--left {
	position: absolute;
	top: 1500px;
	right: 0px;
	left: 0px;
	bottom: -1300px;
}

.parallax__layer--project--large--middle {
	position: absolute;
	top: 2400px;
	right: -400px;
	left: 400px;
	bottom: -2600px;
}



/*symbol sizes*/
.small {
	background-size: 35%;
}

.medium {
	background-size:60%;
}

.large {
	background-size: 80%;
}

/*end of parallax styles*/






/*navigation styles*/

header {
    position: fixed;
    top: 0;
    z-index: 10;
	padding-bottom: 20px;
}
header img {
    margin-top: 40px;
}
nav li {
    margin-top: 20px;
}
.navigation {
    /*change color of header background here*/
    
    background-color: #113559;
    padding-bottom: 10px;
    width: 80%;
    display: inline;
    /*z-index: 1 !important;*/
}
nav#navigation {
    list-style: none;
    display: inline;
}
nav#navigation .nav-trigger {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 38px;
    height: 38px;
    /*background color of menu icon*/
    
    background: #a0dae5;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    z-index: 11;
    cursor: pointer;
}
nav#navigation ul li {
    float: left;
    list-style: none;
    text-align: center;
    width: 24%;
    margin-left: 1%;
}
nav#navigation ul li a {
    text-align: center;
    display: block;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}


@media only screen and (max-width: 750px) {
    header {
        background-color: #113559;
		padding-bottom: 20px;
    }
    header img {
        margin-top: 10px;
        margin-left: 50px;
    }
    nav#navigation {
        margin-top: 10px;
        margin-left: 120px;
        position: absolute;
        width: 90%;
    }
    nav#navigation .nav-trigger {
        display: block;
    }
    nav#navigation .nav-trigger span {
        position: absolute;
        display: block;
        width: 20px;
        height: 2px;
        /*background color of menu lines*/        
        background: #113559;
        top: 18px;
        left: 50%;
        margin-left: -10px;
        -webkit-transition: background .5s;
        -moz-transition: background .5s;
        transition: background .5s;
    }
    nav#navigation .nav-trigger span::before,
    .nav-trigger span::after {
        content: '';
        position: absolute;
        left: 0;
        background: inherit;
        width: 100%;
        height: 100%;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        transition: all .5s;
    }
    nav#navigation .nav-trigger span::before {
        top: -6px;
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
    nav#navigation .nav-trigger span::after {
        bottom: -6px;
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
    nav#navigation .nav-trigger.open span {
        background: #a0dae5;
    }
    nav#navigation .nav-trigger.open span::before,
    .nav-trigger.open span::after {
        background: #113559;
        /*changes color of x in menu icon*/
    }
    nav#navigation .nav-trigger.open span::before {
        top: 0;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    nav#navigation .nav-trigger.open span::after {
        bottom: 0;
        -webkit-transform: rotate(225deg);
        -moz-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
        -o-transform: rotate(225deg);
        transform: rotate(225deg);
    }
    nav#navigation ul {
        width: 100%;
        position: absolute;
        right: 0;
        top: 38px;
        background: #113559;
        visibility: hidden;
        z-index: 10;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 100% 0;
        -moz-transform-origin: 100% 0;
        -ms-transform-origin: 100% 0;
        -o-transform-origin: 100% 0;
        transform-origin: 100% 0;
        -webkit-transition: -webkit-transform 0.5s, visibility 0 .5s;
        -moz-transition: -webkit-transform 0.5s, visibility 0 .5s;
        transition: -webkit-transform 0.5s, visibility 0 .5s;
    }
    nav#navigation ul.is-visible {
        visibility: visible;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        -webkit-transition: -webkit-transform 0.5s, visibility 0 0;
        -moz-transition: -moz-transform 0.5s, visibility 0 0;
        transition: transform 0.5s, visibility;
    }
    nav#navigation ul.is-visible li a {
        visibility: visible;
    }
    nav#navigation ul li {
        width: 50%;
        margin: 0;
    }
    nav#navigation ul li a {
        width: 100%;
        padding: 10px 0;
        color: #a0dae5;
        visibility: hidden;
        border-radius: 0;
    }
    nav#navigation ul li a:hover {
        border: 10px;
        border-color: #a0dae5;
    }
    nav#navigation ul li.last a {
        background: none;
        border: 10px;
        border-color: white;
        display: block;
        padding: 15px 0;
        color: #FFF;
        font-size: .8em;
    }
    nav#navigation ul li.last a:hover {
        border: 10px;
        border-color: white;
    }
}
@media only screen and (max-width: 500px) {
    header img {
        margin-top: 10px;
        margin-left: 10px;
    }
    nav#navigation {
        margin-top: 10px;
        margin-left: 80px;
        position: absolute;
        width: 100%;
    }
}
/*end of navigation styles*/





/*typography styles*/

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 60px;
    font-weight: 900;
    color: #288c8e;
}
h2 {
    font-family: 'Lato', sans-serif;
    font-size: 28px;
    font-weight: 500;
    color: #288c8e;
}
h3 {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #288c8e;
}
p {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #113559;
}
li {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #113559;
}
.call-out {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
    color: #113559;
}
a {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #288c8e;
}
nav a {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #a0dae5;
}

.skills-icons h3 {
	text-align:center;
}

.process-icons h3 {
}

/*form typography*/

input[type=text] {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #113559;
}

input[type=submit] {
	text-align: center;
	font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #113559;
}

/*placeholder type in form*/

::-webkit-input-placeholder {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #288c8e;
}
:-moz-placeholder {
    /* Firefox 18- */
    
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #288c8e;
}
::-moz-placeholder {
    /* Firefox 19+ */
    
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #288c8e;
}
:-ms-input-placeholder {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #288c8e;
}
/*end of placeholder text in form*/
/*end of form typography*/




/*tablet size typography*/

@media only screen and (max-width: 750px) {
    h1 {
        font-family: 'Lato', sans-serif;
        font-size: 40px;
        font-weight: 700;
        color: #288c8e;
    }
    h2 {
        font-family: 'Lato', sans-serif;
        font-size: 24px;
        font-weight: 300;
        color: #288c8e;
    }
}
/*end of typography styles*/





/*color styles*/

header:after {
    clear: both;
    content: " ";
    display: table;
}
header {
    width: 100%;
    background-color: #113559;
}

body {
    background-color: #a0dae5;
}
.navigation {} #home-space {
    background-color: #a0dae5;
}
#portfolio-projects {
    background-color: #f6f5fa;
}

#about-space {
    background-color: #a0dae5;
}
#contact-space {
    background-color: #f6f5fa;
}

body .project-description{	
	background-color: #f6f5fa;
}
/*end of color styles*/


/*hover styles*/
header a:hover {
	color: #a0dae5;
	cursor:url(../images/hover-cursor.png), pointer !important;
}

#portfolio-projects a:hover {
	color: #288c8e;
	cursor:url(../images/hover-cursor.png), pointer !important;
}

#portfolio-projects img {
	position: relative;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
 -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: #000;
  margin: 2em auto;
}

#portfolio-projects img:hover {
  -webkit-transform: scale3d(1.1,1.1,1);
   transform: scale3d(1.1,1.1,1);
}



#contact-space a:hover {
	cursor:url(../images/hover-cursor.png), pointer !important;
}

input[type=submit]:hover  {
	width: 90px;
	height: 40px;
	background-color: #113559 !important;
	color: #f6f5fa;
	-webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	border-radius: 5px !important;
	padding: 0;
	transition: 0s !important;
	cursor:url(../images/hover-cursor.png), pointer !important;
}

.project-description a:hover {
	cursor:url(../images/hover-cursor.png), pointer !important;
}

footer a:hover {
	cursor:url(../images/hover-cursor.png), pointer !important;
}
	
.project-buttons a {
		color: #113559;
	background-color: #f6f5fa !important;
	border: solid 3px #113559 !important;
	-webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	border-radius: 5px !important;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 15px;
	padding-right: 15px;
	
}

.project-buttons a:hover {
	background-color: #113559 !important;
	color: #f6f5fa;
	-webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	border-radius: 5px !important;
	transition: 0s !important;
}

.linked-in:hover {
	fill: #288c8e;
}

.instagram:hover {
	fill: #288c8e;
}

.facebook:hover {
	fill: #288c8e;
}

svg {
	width: 50px;
}

footer svg {
	width: 40px;
}

/*end of hover styles*/



/*spacing styles*/

body {
}

header {
    margin-bottom: 50px;
}
#home-space {
    padding-top: 80px;
    padding-bottom: 80px;
}
#home-space img {
    padding-top: 50px;
}
h1 {
    padding-bottom: 30px;
}
h2 {
    padding-bottom: 20px;
}
#portfolio-projects {
    padding-top: 100px;
    padding-bottom: 100px;
}
#portfolio-projects img {
	margin-top: 50px;
}

.midwest-nuclear-research {
	margin-top: -190px;
}

.san-antonio-zoo {
	margin-top: 200px;
}

.gorilla-grocery {
	margin-top: -180px;
}

.details {
	padding-top: 160px;
}

.aegaeon {
	margin-top: -180px;
}

.sweet-cellars {
	margin-top: -180px;
}

.human {
	padding-top: 180px;
}

.sourpuss-studio {
	margin-top: -180px;
}

#about-space {
    padding-top: 100px;
}

#about-space p {
    padding-bottom: 80px;
}

.skills-icons {
	padding-bottom: 140px;
}

.skills-icons img {
	margin-top: -10px;
	margin-bottom: 15px;
}

.photography img {
	padding-bottom: 15px;
}

.branding img {
	padding-bottom: 25px;
}

.brainstorm {
	margin-top: -240px;
}

.concept {
	margin-top: -180px;
}

.create {
	margin-top: -260px;
}


#contact-space {
    padding-top: 100px;
    padding-bottom: 100px;
}
#contact-space ul {
    list-style: none;
}
.project-description {
    margin-top: 90px;
}
.project-description h1 {
    margin-bottom: 50px;
}
.project-description p {
    padding-bottom: 20px;
}
.project-description img {
    padding-top: 60px;
	padding-bottom: 60px;
}

.project-buttons {
	padding-top: 50px;
	padding-bottom: 80px;
}

.project-buttons a {
	margin-left: 120px;
}

footer {
	padding-top: 30px;
}

/*tablet spacing styles*/

@media only screen and (max-width: 750px) {
	
	.brainstorm {
		margin-top: -350px;
}

.create {
	margin-top: -350px;
}

.project-buttons {
	padding-top: 50px;
	padding-bottom: 80px;
}

.project-buttons a {
	margin-left: 50px;
}

footer {
	padding-top: 20px;
	padding-bottom: 10px;
}

}

/*mobile spacing styles*/
@media only screen and (max-width: 500px) {

#portfolio-projects {
	padding-top: 20px;
	padding-bottom: 50px;
}

.midwest-nuclear-research {
	margin-top: 0px;
}

.san-antonio-zoo {
	margin-top: 0px;
}

.gorilla-grocery {
	margin-top: 0px;
}

.details {
	padding-top: 0px;
}

.aegaeon {
	margin-top: 0px;
}

.sweet-cellars {
	margin-top: 0px;
}

.human {
	padding-top: 0px;
}

.sourpuss-studio {
	margin-top: 0px;
}

#about-space {
	padding-top: 40px;
}

#about-space p {
	padding-bottom: 20px;
}

.skills-icons {
	padding: 0px;
}

.skills-icons img {
	margin-bottom: 5px;
}

.skills-icons h3 {
	padding-bottom: 40px;
}

#contact-space {
	padding-top: 10px;
	padding-bottom: 10px;
}

#contact-space h1, #contact p {
	padding-bottom: 10px;
}
	

#contact-space img {
	padding-bottom: 10px;
}

.project-description {
	margin-top: 0px;
}

.project-description h1 {
	padding-top: 60px;
	padding-bottom: 0px;
}

.project-description p {
	padding-bottom: 0px;
}

.project-buttons {
	padding-top: 50px;
	padding-bottom: 80px;
}

.project-buttons a {
	margin-left: 20px;
}

footer {
	padding: 0px;
	margin: 0px;
}

}




/*form styles*/

input[type=text] {
	width: 100%;
	background-color: #f6f5fa !important;
	border: solid 2px #a0dae5 !important;
	-webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	border-radius: 5px !important;
	padding: 4px;
	
}

.message-input textarea {
	width: 100%;
	height: 165px;
	padding-top: 20px;
	background-color: #f6f5fa !important;
	border: solid 2px #a0dae5 !important;
	-webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	border-radius: 5px !important;
	padding: 4px;
}

input:focus, textarea:focus {
	
	border: solid 2px #113559 !important;
}


input[type=submit] {
	width: 90px;
	height: 40px;
	background-color: #f6f5fa !important;
	border: solid 3px #113559 !important;
	-webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	border-radius: 5px !important;
	padding: 0;
}


/*image and icon styles*/

header img {
	width: 30px;
}

#home-space img {
	width: 250px;
}

.process-icons img {
	width: 200px;
	padding-bottom: 20px;
}

.moleskine img, .san-antonio-zoo img, .gorilla-grocery img, .aegaeon img, .human img {
-webkit-border-radius: 10%;
-moz-border-radius: 10%;
border-radius: 10%;
overflow: auto;
}

.midwest-nuclear-research img, .aviatrix img, .details img, .sweet-cellars img, .sourpuss-studio img {
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
overflow: auto;
}

#contact-space img {
	width: 50px;
	padding-bottom: 10px;
}

footer img {
	width: 30px;
}




/*footer styles*/

footer .copyright {
    padding: 0;
    margin: 0;
}